{% extends "gbe_base.html" %}
{% block content %}
    <h1 style="background:lightblue;padding:10px"> Growing Beyond Earth - Experimental Website</h1>
    <p>This is testing and researh for the MarsFarm Growth Chamber.  Using MongoDB and Ploty to chart data extracted from the 2020 GBE spreadhseets and put into a cloud MongoDB database.  The flask server and charting programs (Python) are running on a Raspberry Pi.</p>
    <p><a href="growth_rate">Attribute for all schools</a></hp>
    <p><a href="school">Attribute by School</a></p>
    <p><a href="histogram">Histogram of Environmental Variables</a></p>
    <p><a href="box">Box Chart of Variabale</a></p>
    <p><a href="scatter">Two Variable Scatter Plot</a></p>
    <p><a href="env_scatter">Environment Scatter Plot</a></p>
    <p><a href="germination">Germination Rate</a></p>
    <p><a href="env_bubble">Bubble Scatter - Variable and Environment</a></p>
    <p><a href="score_card">Data Entry Score Card</a></p> 
    <p><a href="health">Health by Plot and School</a></p> 
    <p><a href="deaths_week">Deaths per Week</a></p> 

    <h3>Query Tool</h3>
    <p>Learn to build a query: Write and run a query to fetch GBE data</p>
    <p><a href="test_query">Write and test queries</a></p>
    <h3>Chart Design</h3>
    <p>Learn how to build charts: control the parts of a chart, how changing the data location changes the information and different styles of charts</p>
    <p><a href="design_chart">Design a Chart</a></p>
{% endblock %}
