{% extends "base.html" %}
{% block content %}
<h1>Raspberry Pi Test Server</h1>
<h2>Camera Video Feed</h2>
<p><a href="http://openagbloom.ddns.net/video/index.html">Video Feed</a></p> 
<h2>Control of GPIO Pins</h2>
<p>Turn LED on and off</p>
<p><a href="http://openagbloom.ddns.net/flask/gpio">GPIO Control</a></p>
<h2>Test Stuff for MarsFarm</h2> 
<p><a href="http://openagbloom.ddns.net/flask/chart">Plotly Charts</a></p>
<p><a href="http://openagbloom.ddns.net/flask/login">MarsFarm Login Test</a></p> 
{% endblock %}