<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Test</title>
  </head>
  <body>
    <h1>Test List Functions ver1</h1>
    <p>Picked: {{data.school}}</p>
     
	<form>
    <select name="school" action="/test" method="post" >
      <option value="S1">School 1</option>
      <option value="S2">School 2</option>
      <option value="LR" selected>Little Red</option>
    </select>
      <input type="submit" value="Submit"> 
    </form>   
  </body>
</html>
